php/library.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="LibraryService"
    targetNamespace="http://127.0.0.1:8000/php/library.wsdl"
    xmlns:tns="http://127.0.0.1:8000/php/library.wsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/">

    <message name="searchBooksByAuthorRequest">
        <part name="author_name" type="xsd:string"/>
    </message>
    <message name="searchBooksByAuthorResponse">
        <part name="result" type="xsd:string"/>
    </message>

    <message name="registerLoanRequest">
        <part name="inventory_number" type="xsd:string"/>
        <part name="reader_card" type="xsd:string"/>
    </message>
    <message name="registerLoanResponse">
        <part name="result" type="xsd:string"/>
    </message>

    <portType name="LibraryPortType">
        <operation name="searchBooksByAuthor">
            <input message="tns:searchBooksByAuthorRequest"/>
            <output message="tns:searchBooksByAuthorResponse"/>
        </operation>
        <operation name="registerLoan">
            <input message="tns:registerLoanRequest"/>
            <output message="tns:registerLoanResponse"/>
        </operation>
    </portType>

    <binding name="LibraryBinding" type="tns:LibraryPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="searchBooksByAuthor">
            <soap:operation soapAction="searchBooksByAuthor"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
        <operation name="registerLoan">
            <soap:operation soapAction="registerLoan"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
    </binding>

    <service name="LibraryService">
    <port name="LibraryPort" binding="tns:LibraryBinding">
        <soap:address location="http://127.0.0.1:8000/soap-server.php"/>
    </port>
</service>
</definitions>